<leftmenu></leftmenu>

<div id="sticky-menu" class="sticky-menu">
    <sticky-menu-mobile></sticky-menu-mobile>
</div>
<div class="content-wrapper">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-8 col-sm-12">
                    <div class="form-box">
                        <h3 class="box-title">
                            <div>Tạo mã QR</div>
                        </h3>
                        <form [formGroup]="createCodeForm">
                            <div class="form-group">
                                <label for="numberOfCode">Số lượng code QR <label class="text-danger">*</label></label>
                                <input id="numberOfCode" formControlName="numberOfCode" class="form-control"
                                    type="number" placeholder="Nhập số lượng"
                                    [ngClass]="{ 'is-invalid': isSubmited && f.numberOfCode.errors }">
                                <div class="invalid-feedback" *ngIf="isSubmited && f.numberOfCode.errors">
                                    <div *ngIf="f.numberOfCode.errors.required">Nhập số lượng code</div>
                                </div>
                            </div>
                            <div class="bottom-button-area">
                                <div class="left">
                                </div>

                                <button class="kin-btn kin-btn-small kin-btn-square kin-btn-outline upload"
                                    [disabled]="isSubmited && !createCodeForm.valid" (click)="createCode()">
                                    Tạo
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-lg-9 col-md-4">
                    <div class="form-box">
                        <h3 class="box-title">
                            <div>Các mã QR vừa được tạo</div>
                        </h3>
                        <div *ngIf="lstCreatedCode.length > 0" style="display: flex; overflow-x: auto;">
                            <span *ngFor="let code of lstCreatedCode; let i = index" style="display: grid;">
                                <qrcode  [qrdata]="'http://13.213.9.38:4200/ui/child-profile/' + code.code" [width]="150"
                                [errorCorrectionLevel]="'M'"></qrcode>
                                <span style="font-weight: bold;text-align: center;">{{i+1}}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>