
<leftmenu></leftmenu>

<div id="sticky-menu" class="sticky-menu">
    <sticky-menu-mobile></sticky-menu-mobile>
</div>
<div class="content-wrapper">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-8 col-sm-12">
                    <div class="form-box">
                        <h3 class="box-title">
                            <div>Tạo mã QR</div>
                        </h3>
                        <form>
                            <div class="form-group">
                                <label for="numberOfCode">Số lượng code QR <label class="text-danger">*</label></label>
                                <input id="numberOfCode" class="form-control">
                            </div>
                            <div class="bottom-button-area">
                                <div class="left">
                                </div>

                                <button class="kin-btn kin-btn-small kin-btn-square kin-btn-outline upload" >
                                    Tạo
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-lg-9 col-md-4">
                    <div class="form-box">
                        <h3 class="box-title">
                            <div>Các mã QR vừa được tạo</div>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>